/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

/* ------ GENERAL & MOVIL VIEW  ------ */

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0px;
  background-color: #f2f4fc;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #6b708d;
}

h1,
h2,
h3 {
  color: #292e47;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

ul {
  padding-inline-start: 0px;
}

main {
  margin: 35px 30px;
}

p {
  font-size: 17px;
  color: #6b708d;
  text-align: justify;
}
footer {
  margin: 60px 0 100px 0;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
  padding-left: 10px;
}

.menu ul {
  padding: 0px;
}

nav img {
  width: 60px;
}

.blue-button {
  background-color: #072ac8;
  color: #ffffff;
  font-size: 1em;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 15px;
}

.blue-button:hover {
  background-color: #292e47;
}

#navbar-button {
  display: none;
  margin-right: 200px;
}

#logos-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  flex-wrap: wrap;
}

#logos-section img {
  width: 90px;
  padding-right: 10px;
  padding-bottom: 10px;
  filter: grayscale(100%);
}

#empower-section {
  display: block;
}

#empower-section-buttons {
  display: inline-block;
  font-size: 15px;
  padding: 10px 0px 20px;
}

#empower-section h1 {
  font-size: 30px;
}

.empower-images {
  position: relative;
  width: 100%;
}

.yellow-circle-man {
  width: 100%;
}

.desktop-view-card-1 {
  position: absolute;
  top: -14px;
  left: -40px;
  width: 200px;
}

.desktop-view-card-2 {
  position: absolute;
  bottom: -70px;
  right: -47px;
  width: 200px;
}

#projects-section {
  justify-content: center;
  padding: 8px 0px;
  flex-wrap: wrap;
}

#projects-section h2 {
  font-size: 24px;
  text-align: center;
}

.project-card {
  display: flex;
  width: 100%;
  height: 600px;
  max-height: 600px;
  flex-direction: column;
  justify-content: flex-start;
}

.project-image img {
  width: 100%;
  height: 240px;
  object-fit: fill;
}

.project-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-left: 10px;
  padding-bottom: 25px;
}

#clients-section {
  background: #292e47 url("project-assets/testimonial-section/orbit.png")
    no-repeat center;
  margin: 20px -30px 30px -30px;
  height: 470px;
  display: flex;
  align-items: center;
  background-size: cover;
}

#clients-section h3 {
  text-align: center;
  color: #f2f4fc;
  font-size: 32px;
  line-height: 150%;
}

.memojis {
  display: none;
}

#clients-section p {
  text-align: center;
  font-size: 18px;
}

#yellow-quote {
  font-size: 24px;
  color: #ffe600;
  line-height: 160%;
  font-weight: 500;
}
#client-says-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#client-says-flex img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#client-says-text h4 {
  font-size: 15px;
  font-weight: 300;
  color: #a2d6f9;
  text-align: left;
}
#client-says-text p {
  font-size: 13px;
  color: #ecf7ff;
  text-align: left;
}

#questions-section {
  background-color: #ffc600;
  height: 430px;
  margin-top: 22px;
}
#questions-form {
  display: flex;
  flex-direction: column;
}

#questions-section h2 {
  text-align: center;
  line-height: 150%;
  padding-top: 50px;
}

.help-us p {
  text-align: center;
  color: #292e47;
}

#email {
  height: 80px;
  margin: 30px 0 30px;
  padding-left: 94px;
  border: none;
  color: #292e47;
  font-size: 17px;
  background-image: url("project-assets/newsletter/icon/mail.svg");
  background-size: 10%;
  background-position: 7% 50%;
  background-repeat: no-repeat;
}

/* our services  */

#services-section {
  justify-content: center;
  flex-wrap: wrap;
}

#services-section h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
#services-section p {
  text-align: left;
  color: #6b708d;
  font-size: 16px;
}

#services-section h3 {
  font-size: 20px;
}

.services-card {
  background-color: white;
  margin: 8px 0px 10px 0px;
  padding: 30px 10px 30px 20px;
}

.services-card img {
  background-color: #ecf7ff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: scale-down;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin: 10px 0px -40px 0px;
  display: inline-grid;
  grid-column-gap: 26px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-flex img {
  width: 90px;
  padding-bottom: 10px;
}

#titleIndividual p {
  font-size: 30px;
  color: #292e47;
  margin-bottom: -10px;
}

#project-page h2 {
  font-size: 18px;
}

.single-project-img {
  width: 100%;
  height: 450px;
  margin: 50px 0;
  background-image: url("project-assets/projects-section/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#contentIndividual {
  font-size: 18px;
  text-align: left;
}

.contact-form input {
  width: 100%;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  display: block;
  height: 20px;
  padding: 30px 0px 30px 6px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
}

.contact-form label {
  color: #6b708d;
  font-size: 20px;
  margin: 0 0 50px;
}

textarea {
  width: 100%;
  height: 70px;
  padding-left: 20px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  display: block;
  padding: 30px 0px 30px 6px;
  margin-bottom: 10px;
  margin-right: 50px;
  font-size: 16px;
  color: #333333;
}

#submit-form {
  margin-top: 20px;
  padding: 25px 30px 50px;
  background-color: #072ac8;
  color: white;
}

/* DESKTOP VIEW  */
@media (min-width: 1024px) {
  #navbar-button {
    display: inline-flex;
  }

  nav {
    padding-left: 30px;
    margin: 0px 100px 70px 100px;
  }

  .menu li {
    padding-left: 60px;
  }

  #logos-section img {
    width: 110px;
    margin: 20px;
    padding: 30px 50px 30px 50px;
  }

  #empower-section {
    display: flex;
    margin: 50px 100px 50px 100px;
  }

  #empower-section h1 {
    font-size: 58px;
    margin-bottom: 30px;
  }

  #empower-section p {
    font-size: 18px;
    text-align: left;
    margin: 30px 155px 30px 0px;
  }

  .desktop-view-card-1 {
    width: 400px;
    top: -70px;
    left: -140px;
  }

  .desktop-view-card-2 {
    width: 350px;
    bottom: -140px;
    right: 10px;
  }

  .yellow-circle-man {
    width: 80%;
  }

  .empower-images {
    position: relative;
    width: 100%;
  }

  #projects-section h2 {
    font-size: 24px;
    text-align: center;
  }

  #projects-section {
    margin: 0px 50px 100px 50px;
  }

  .project-item {
    display: inline-block;
    padding: 0px 45px 100px 45px;
    width: 320px;
  }

  #projects-section h2 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    padding-left: 50px;
  }

  .services-card {
    display: inline-grid;
    margin: 20px 40px 80px 47px;
    padding: 30px 60px 30px 60px;
    width: 190px;
  }

  #services-section h2 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    padding-left: 125px;
  }

  .services-grid {
    margin: 30px 80px;
  }

  footer {
    display: inline-flex;
  }

  .footer-links {
    margin-left: 600px;
    display: inline-grid;
    grid-column-gap: 26px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-flex img {
    margin-right: 260px;
  }

  #email {
    height: 60px;
    width: 250px;
    font-size: 15px;
    margin-right: 20px;
  }

  #questions-form .blue-button {
    height: 60px;
    width: 250px;
    font-size: 15px;
  }

  #questions-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #clients-section {
    position: relative;
    margin: 50px;
    height: 500px;
  }

  .clients-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .memojis {
    display: flex;
    width: 100px;
  }

  .memoji-up-left {
    position: absolute;
    top: 50px;
    left: 80px;
  }
  .memoji-down-left {
    position: absolute;
    bottom: 50px;
    left: 80px;
  }
  .memoji-up-right {
    position: absolute;
    bottom: 50px;
    right: 90px;
  }
  .memoji-down-right {
    position: absolute;
    top: 50px;
    right: 90px;
  }

  #titleIndividual p {
    font-size: 58px;
    color: #292e47;
  }

  .single-project-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-flex {
    display: flex;
    justify-content: space-between;
  }

  #emailaddres {
    width: 660px;
  }

  #phone {
    width: 660px;
  }
}
